<header>
  <div class="container">
    <a href="#" class="logo">Asymetric cryptography</a>
    <nav>
      <ul>
        <li><a href href="#" [routerLink]="['/']">Generate key</a></li>
        <li><a href="#" [routerLink]="['/crypt']">Cryptography</a></li>
        <li><a href="#" [routerLink]="['/about']">About Us</a></li>
      </ul>
    </nav>
  </div>
</header>


<div class="card">
  <mat-card >
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
