<mat-tab-group>
    <mat-tab label="Encrypt"> 
          <mat-form-field class="example-full-width">
            <textarea rows="1" matInput placeholder="Public key"></textarea>
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <textarea rows="10" matInput  placeholder="Message"></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea rows="8" matInput disabled placeholder="Ciphertext"></textarea>
          </mat-form-field>
        
          <div class="example-button-row">
            <button mat-raised-button color="primary">Encrypt</button>
          </div>     
    </mat-tab>
    <mat-tab label="Decrypt"> 
            <mat-form-field class="example-full-width">
              <textarea rows="1" matInput  placeholder="Private key"></textarea>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <textarea rows="10" matInput  placeholder="Message"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <textarea rows="8" matInput disabled placeholder="Plaintext"></textarea>
            </mat-form-field>
          
            <div class="example-button-row">
              <button mat-raised-button color="primary">Decrypt</button>
            </div>     
    </mat-tab>
  </mat-tab-group>
