<mat-tab-group>
    <mat-tab label="Encrypt"> 
          <mat-form-field class="example-full-width">
            <textarea rows="1" matInput placeholder="Public key">{{sEncryptPublicKey}}</textarea>
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <textarea rows="10" matInput  placeholder="Plaintext">{{sEncryptPlainText}}</textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea rows="8" matInput disabled placeholder="Ciphertext">{{sEncryptCiphertext}}</textarea>
          </mat-form-field>
        
          <div class="example-button-row">
            <button (click)="EncryptClick()" mat-raised-button color="primary">Encrypt</button>
          </div>     
    </mat-tab>
    <mat-tab label="Decrypt"> 
            <mat-form-field class="example-full-width">
              <textarea rows="1" matInput  placeholder="Private key">{{sDecryptPrivateKey}}</textarea>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <textarea rows="10" matInput  placeholder="Ciphertext">{{sDecryptCiphertext}}</textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <textarea rows="8" matInput disabled placeholder="Plaintext">{{sDecryptPlainText}}</textarea>
            </mat-form-field>
          
            <div class="example-button-row">
              <button (click)="DecryptClick()" mat-raised-button color="primary">Decrypt</button>
            </div>     
    </mat-tab>
  </mat-tab-group>
